* {
    -fx-background-color: white;
}

#title-application {
    -fx-font-size: 40px;
}

#second-title {
    -fx-font-size: 30px;
}

#main-titles {
    -fx-font-size: 30px;
    -fx-fill: #1b88db;
}

#add-question {
    -fx-background-color: #1d8711;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-pref-width: 130px;
}

#manage-btn {
    -fx-background-color: #e2d3b7;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
}

#save-btn {
    -fx-background-color: #377aff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-pref-width: 130px;
}

#subject-menu {
    -fx-pref-width: 150px;
}

.text-field, .text-area, .menu-button, #vbox-style {
    -fx-border-color: grey;
}

#label-input {
    -fx-font-size: 15px;
}

.button, .menu-button {
    -fx-cursor: hand;
}

.hyperlink {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #25b0dc;
}

