* {
    -fx-background-color: white;
}

#title-application {
    -fx-font-size: 40px;
}

#second-title {
    -fx-font-size: 30px;
}

#third-titles {
    -fx-font-size: 20px;
}

.button, .menu-button, .date-picker {
    -fx-cursor: hand;
}



#manage-btn {
    -fx-background-color: #e2d3b7;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
}

#save-btn {
    -fx-background-color: #F26D53;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-pref-width: 130px;
}

#reset-btn {
    -fx-background-color: #af2623;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-pref-width: 130px;
}

.text-field, .text-area, .menu-button, #vbox-style {
    -fx-border-color: grey;
}

#label-input {
    -fx-font-size: 15px;
}

#action-btn:hover {
    -fx-background-color: #377aff;
    -fx-text-fill: white;
}

.date-picker, .date-picker > * {
    -fx-background-color: #1d8711;
    -fx-cursor: hand;
}

.hyperlink {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #25b0dc;
}

