#title-application {
    -fx-font-size: 40px;
}

#second-title {
    -fx-font-size: 30px;
}

.menu-button, .button {
    -fx-cursor: hand;
}

#vboxStyle {
    -fx-background-color: white;
}

#vbox-style {
    -fx-background-color: white;
    -fx-border-color: grey;
}
