* {
    -fx-background-color: white;
}

#title-application {
    -fx-font-size: 40px;
}

#second-title {
    -fx-font-size: 30px;
}

#main-titles {
    -fx-font-size: 30px;
    -fx-fill: #1b88db;
}

#action-btn:hover {
    -fx-background-color: #377aff;
    -fx-text-fill: white;
}

#action-btn {
    -fx-border-color: lightgrey;
}

#third-title {
    -fx-font-size: 20px;
}

#action-btn:hover {
    -fx-background-color: #377aff;
    -fx-text-fill: white;
}

#btn {
    -fx-background-color: #F26D53;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-pref-width: 200px;
}

.text-field, #guildList, #vbox-style {
    -fx-border-color: grey;
}

.date-picker, .date-picker > * {
    -fx-background-color: #F26D53;
    -fx-cursor: hand;
}

.button {
    -fx-cursor: hand;
}

#label-input {
    /*-fx-font-size: 15px;*/
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-graphic-text-gap: 4;
    -fx-font-weight: bold;
}

.hyperlink {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #25b0dc;
}

