* {
    -fx-background-color: white;
}

#login-navbar {
    -fx-background-color: #dcdcdc;
}

#login-main {
    -fx-background-color: white;
}

#title-application {
    -fx-font-size: 40px;
}

#connection-title {
    -fx-font-size: 20px;
}

#login-btn {
    -fx-border-color: #377aff;
    -fx-background-color: #377aff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-pref-width: 120px;
}

#sub-btn {
    -fx-border-color: #F26D53;
    -fx-background-color: #F26D53;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-pref-width: 120px;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: #30ceff;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #5fb4ff;
}

.text-field {
    -fx-border-color: grey;
}

.label {
    -fx-font-size: 15px;
}
