

#title-application {
    -fx-font-size: 40px;
}

#main-titles {
    -fx-font-size: 30px;
    -fx-fill: #1b88db;
}

.hyperlink {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #25b0dc;
    -fx-underline: false;
}

.menu-item:focused {
    -fx-background-color: #25b0dc;
}

.menu-item .label {
    -fx-text-fill: #000000;
    -fx-background-color: none;
}

#settingsBtn {
    -fx-background-color: none;
    -fx-cursor: hand;
}

#vboxStyle {
    -fx-background-color: white;
}

#headerStyle {
    -fx-background-color: white;
}

