#addBtn {
    -fx-border-color: #F26D53;
    -fx-background-color: #F26D53;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-pref-width: 200px;
    -fx-cursor: hand;
}

* {
    -fx-background-color: #ffffff;
}
