* {
    -fx-background-color: white;
}

#title-application {
    -fx-font-size: 40px;
}

#second-title {
    -fx-font-size: 30px;
}

.text-field, .text-area, .menu-button {
    -fx-border-color: grey;
}

#label-input {
    -fx-font-size: 15px;
    -fx-font-weight: bolder;
}

#subBtn {
    -fx-background-color: #377aff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-pref-width: 130px;
}

.menu-button, #back, .button {
    -fx-cursor: hand;
}

.hyperlink {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #25b0dc;
}

.table-view .table-cell {
    -fx-border-color: lightgrey;
    -fx-cursor: hand;
}

.table-view .table-cell:hover {
    -fx-background-color: lightgrey;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: rgba(212, 211, 211, 0.56);
    -fx-text-fill: black;
}

.table-view {
    -fx-border-color: grey;
}

.table-view .column-header .arrow {
    -fx-background-color: black;
}

.tooltip {
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.combo-box .list-cell {
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-cell-size: 2em;
}

/*.combo-box-popup .list-view .list-cell {*/
/*    -fx-padding: 4 0 4 5;*/
/*}*/

/*.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {*/
/*    -fx-background: -fx-accent;*/
/*    -fx-background-color: -fx-selection-bar;*/
/*    -fx-text-fill: -fx-selection-bar-text;*/
/*}*/

.combo-box-popup .list-view .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}

/*.combo-box-base:hover {*/
/*    -fx-color: -fx-hover-base;*/
/*}*/

/*.combo-box-base:showing {*/
/*    -fx-color: -fx-pressed-base;*/
/*}*/

/*.combo-box-base:focused {*/
/*    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;*/
/*    -fx-background-radius: 6.4, 4, 5, 3;*/
/*    -fx-background-insets: -1.4, 0, 1, 2;*/
/*}*/

/*.combo-box-base:disabled {*/
/*    -fx-opacity: .4;*/
/*}*/
